/* Vertical list of field names, seems too big ********** */
th.field-name {
    font-size: 80% !important;
    font-weight: normal;
    background: transparent !important;
}

/* Parameter having multiple parameters looks odd ******* */
.field-body > .first > li > p {
    margin-bottom: 0.7em;
}

/* Box ************************************************** */
dl {
    border: 3px solid #CDCDCD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 6px;
}

dt {
    background-color: #CDCDCD;
}

dd {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0;
}

/* Sub box ********************************************** */
dl dl {
    border-color: #EBEBEB;
}

dl dl dt {
    background-color: #EBEBEB;
    padding-left: 5px;
}