/* Vertical list of field names, seems too big ********** */
th.field-name {
    font-size: 100% !important;
    font-weight: normal;
    background: transparent !important;
}

/* Code snippet */
pre, .pre, tt {
    font-family: "Consolas", "Bitstream Vera Sans Mono", Monospace !important;
}

tt {
    font-size: 12pt !important;
}

/* Parameter having multiple parameters looks odd ******* */
.field-body > .first > li > p {
    margin-bottom: 0.7em;
}

/* Box ************************************************** */
dl {
    border: 3px solid #355F7C;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 6px;
}

dt {
    padding: 0 0 3px 3px;
    background-color: #355F7C;
    color: white;
    text-align: left;
}

dt:target {
    color: black;
}

dd {
    margin: 0;
    padding: 15px;
}

/* Sub box ********************************************** */
dl dl {
    border-color: #EBEBEB;
}

dl dl dt {
    background-color: #EBEBEB;
    padding-left: 5px;
    color: black;
}